


/* fond en background */

body{
    background-image: url(./images/images/fond-opaque.png);
    
}


/* tailles images et logo */
.logobas{
    margin-top: 90vh;
}

.suscribe{
    width: 62vh;
}

.cartes3{
    width: 62vh;
}

.images3{
    width: 125vh;
}
.ben{
    width: 28vh;
}

.louis{
    width: 28vh;
   margin-left: 80px;
}

.doublebas{
    width: 200%;
}